{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<!-- Jumbotron -->
<div class="p-5 text-center img-fluid bg-image rounded-3 mb-3 shadow" style="
    background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.webp');
    height: 400px;
    max-width: 1200px;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Tennessee Arms Company, LLC</h1>
        <h4 class="mb-3">Innovative Rifle Performance</h4>
        <a class="btn btn-outline-light btn-lg mb-4" href="#!" role="button">Best Selling Products</a>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->
<h3 class="mt-3 pb-2 border-bottom shadow">Categories</h3>
<div class="container-fluid">
  <!--Masonry Category Listings and descriptins-->
  <div class="row text-center data-masonry='{"percentPosition": true }' align-items-start">
    {% for object in category %}
    <div class="card mx-auto mt-3 shadow" style="width:18rem;">
      <img src="{{ object.mainimg.url }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{object.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted ">{{object.subtext}}</h6>
        <p class="card-text">{{object.desc}}</p>
        <a class="btn btn-primary btn-sm " href="#" role="button"><em>{{object.name}} Page</em></a>
      </div>
    </div>
    {% endfor %}
  </div>
  <!--Masonry Ending-->
  <div class="container text-center">
    <div class="row">
      <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi tempora, 
          animi id perspiciatis, officiis iste veritatis facere dicta inventore, maiores 
          aliquid dolorem nihil? Aliquam hic, non velit accusantium natus similique.</p>
      </div>
      <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi tempora, 
          animi id perspiciatis, officiis iste veritatis facere dicta inventore, maiores 
          aliquid dolorem nihil? Aliquam hic, non velit accusantium natus similique.</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi tempora, 
          animi id perspiciatis, officiis iste veritatis facere dicta inventore, maiores 
          aliquid dolorem nihil? Aliquam hic, non velit accusantium natus similique.</p>
      </div>
      <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi tempora, 
          animi id perspiciatis, officiis iste veritatis facere dicta inventore, maiores 
          aliquid dolorem nihil? Aliquam hic, non velit accusantium natus similique.</p>
      </div>
      <div class="col">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi tempora, 
          animi id perspiciatis, officiis iste veritatis facere dicta inventore, maiores 
          aliquid dolorem nihil? Aliquam hic, non velit accusantium natus similique.</p>
      </div>
    </div>
  </div>

</div>

  


{% endblock content %}
